@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: unset;
	margin: 0;
	padding: 0;
}

:root {
	--light-green: #38af90;
	--light-pink: #dd7e92;
	--text-gray: #797979;
	--bg-gray: #f0f0f0;
	--bg-footer: #383838;
	--white: #fff;
	--gray-inputball: #999999;
	--text-gray-input: #c4c4c4;
}

.container {
	width: 100%;
	max-width: 990px;
	margin: 0 auto;
}

.mg-top {
	margin-top: 30px;
}

.button-1 {
	margin-top: 40px;
	background-color: var(--light-pink);
	color: var(--white);
	width: 244px;
	height: 67px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px auto 0 auto;
	border-radius: 8px;
	font-size: 1.125rem;
	font-weight: 700;
	border: none;
}

.button-2 {
	margin-top: 40px;
	background-color: var(--white);
	color: var(--light-pink);
	width: 244px;
	height: 67px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px auto 0 auto;
	border-radius: 8px;
	font-size: 1.125rem;
	font-weight: 700;
	border: none;
	border: 2px solid var(--light-pink);
}

/* Header */
.nav-bg {
	background-color: var(--light-green);
	position: fixed;
	width: 100%;
	height: 90px;
	display: flex;
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 10px;
	color: var(--white);
}

.nav-title {
	font-size: 1.125rem;
	font-weight: 700;
}

.nav-container-img {
	display: flex;
	gap: 30px;
}

.nav-container-img img {
	width: 62px;
}

.nav-menu {
	display: flex;
	align-items: center;
}

.nav-menu a {
	font-size: 0.875rem;
	margin-left: 30px;
}

/* News-section */

.news-section {
	padding: 130px 10px 60px 10px;
}

.news-section h1 {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--text-gray);
	margin-bottom: 8px;
	justify-content: center;
	display: flex;
}

.news-description {
	padding: 15px;
	background-color: var(--bg-gray);
	border-radius: 8px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.news-description h2 {
	color: var(--light-green);
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 3px;
}

.news-description h3 {
	font-size: 0.75rem;
	font-weight: 700;
	color: var(--text-gray);
	margin-bottom: 7px;
}

.news-description .date {
	border-top: 1px solid #38af90;
	font-size: 0.625rem;
	color: var(--light-green);
	margin-bottom: 12px;
}

.news-description .text {
	font-size: 0.625rem;
	color: var(--text-gray);
}
.news-description h4 {
	color: var(--light-pink);
	font-size: 0.875rem;
	padding-top: 10px;
}

/* Games-section */

.games-section-bg {
	background-color: var(--bg-gray);
}

.games-section {
	padding: 40px 10px;
}

.games-section h1 {
	margin-bottom: 30px;
	font-size: 1.5rem;
	color: var(--light-green);
	text-align: center;
}

.games-container {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}

.games-description {
	background-color: var(--white);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

.games-description img {
	width: 300px;
	height: 169px;
	border-radius: 8px 8px 0 0;
}

.games-description-details {
	padding: 30px 30px 15px 30px;
}

/* Fiz as fontes um pouco menor para ficarem de acordo com o layout - nas medidas originais estavam desproporcionais(o titulo com a descrição) :) */
.games-description-title {
	font-size: 1.2rem;
	color: var(--text-gray);
	text-align: center;
}

.games-description-text {
	color: var(--text-gray);
	font-size: 0.84rem;
	text-align: center;
}
.games-description-text span {
	font-weight: 700;
	color: var(--light-green);
}
.games-description-evaluation {
	font-size: 2.25rem;
	color: var(--light-green);
	font-weight: 700;
	text-align: center;
	margin-top: 13px;
}

/* Formulário */

.form-bg {
	background-color: var(--white);
	padding: 40px 10px;
}

.form-container h1 {
	font-size: 1.5rem;
	color: var(--text-gray);
	text-align: center;
	margin-bottom: 16px;
}

.form-description {
	background-color: var(--bg-gray);
	padding: 50px 10px 35px 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

.form-details input {
	width: 100%;
	padding: 13px 22px;
	font-size: 1rem;
	color: var(--text-gray-input);
	border: 1px solid var(--text-gray);
	border-radius: 4px;
	margin-bottom: 20px;
}
.form-details input:focus {
	outline: 1px solid var(--text-gray);
}

.form-games label {
	font-size: 1rem;
	color: var(--text-gray);
}

.form-games-plataform {
	display: flex;
	flex-direction: column;
}

.form-games-details {
	display: flex;
	align-items: center;
	gap: 3px;
}

/* Footer */
.footer-bg {
	background-color: var(--bg-footer);
	color: var(--white);
	font-size: 0.875rem;
	padding: 30px 10px;
	display: flex;
}

.footer-container {
	text-align: center;
}

.footer-social {
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.footer-direitos {
	margin-bottom: 40px;
}

.footer-termos {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

/* Responsivo */

@media (max-width: 600px) {
	.nav-menu li {
		display: none;
	}
	.nav-container {
		justify-content: center;
	}
	.nav-container-img {
		display: flex;
		gap: 85px;
	}
}

@media (min-width: 768px) {
	.nav-title {
		font-size: 1.5rem;
	}

	.news-section h1,
	.games-section h1,
	.form-container h1 {
		font-size: 2.25rem;
	}

	.news-description h2 {
		font-size: 1.5rem;
	}

	.news-description h3 {
		font-size: 1rem;
	}

	.footer-bg {
		padding: 30px 10px;
	}

	.form-description {
		padding: 50px 75px 50px 75px;
	}

	.form-description {
		margin: 0 auto;
		width: 790px;
		height: 522px;
	}

	.form-buttons {
		display: flex;
	}

	.footer-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer-social {
		margin: 0;
	}

	.footer-direitos {
		margin-bottom: 0;
	}

	.footer-bg {
		padding: 75px 10px;
	}
}
